{% extends "layout.html"%}

{% block content %}
<div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Create New Department</div>
            <div class="panel-body">
                <form method="POST" action="/depart/add/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter the department title">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}